{erl_opts, [debug_info]}.

{deps, [
    {ecldb,         {git, "https://github.com/stofel/ecldb.git",              {branch, "master"}}},
    {sync,          {git, "https://github.com/rustyio/sync.git",              {branch, "master"}}},
    {observer_cli,  {git, "https://github.com/zhongwencool/observer_cli.git", {branch, "master"}}}
]}.

{relx, [{release, {million, "0.1.0"}, [
            ecldb,
            sync,
            observer_cli,
            sasl,
            eunit,
            million
        ]},

        {mode, dev},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.

